<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Sarp Kılıç</h4>
      <span class="text-muted">Matematik proje ödevidir <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Propositions
  </button>
       
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/Q/1">first</a>
    <a class="dropdown-item" href="/Q/2">second</a>
    <a class="dropdown-item" href="/Q/3">third</a>
    <a class="dropdown-item" href="/Q/4">fourth</a>
    <a class="dropdown-item" href="/Q/5">fifth</a>
    <a class="dropdown-item" href="/Q/6">sixth</a>
    <a class="dropdown-item" href="/Q/7">seventh</a>
    <a class="dropdown-item" href="/Q/8">eighth</a>
    <a class="dropdown-item" href="/Q/9">ninth</a>
    <a class="dropdown-item" href="/Q/10">tenth</a>
    <a class="dropdown-item" href="/Q/11">eleventh</a>
    <a class="dropdown-item" href="/Q/12">twelfth</a>
    <a class="dropdown-item" href="/Q/13">thirteenth</a>
    <a class="dropdown-item" href="/Q/14">fourteenth</a>
    <a class="dropdown-item" href="/Q/15">fifteenth</a>
    <a class="dropdown-item" href="/Q/16">sixteenth</a>
    <a class="dropdown-item" href="/Q/17">seventeenth</a>
    <a class="dropdown-item" href="/Q/18">eighteenth</a>
    <a class="dropdown-item" href="/Q/19">nineteenth</a>
    <a class="dropdown-item" href="/Q/20">twentieth</a>
    <div class="dropdown-divider"></div>
    </div>
</div></span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <H1 style="color: whitesmoke;">{{ X }}<H1>
  </nav>
</div>
